<div id="sidebar" class="sidebar">
    {% if  not user.is_superuser %}
        <a href="{% url 'index' %}" class="active">Dashboard</a>
        <a href="{% url 'index' %}">Cart</a>
        <a href="{% url 'product' %}">Catalog</a>
        <a href="{% url 'about_us' %}">About Us</a>
    {% endif %}
   
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const sidebar = document.getElementById('sidebar');
    const toggleButton = document.getElementById('sidebarToggle');
    const mainLayout = document.querySelector('.main-layout');
    const content = document.querySelector('.content-with-sidebar');
    if (!toggleButton) return;  // Prevent error if toggleButton is missing

    toggleButton.addEventListener('click', function () {
        sidebar.classList.toggle('collapsed');
        content.classList.toggle('collapsed');
        if (mainLayout) {
            mainLayout.classList.toggle('sidebar-collapsed');
        }
    });
});
</script>
