{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="ro mt-5">
        <div class="col-12">
            <div class="border bg-white p-3">
                <h3>Delete Item</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4> Are you sure you want to delete?</h4>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <a href="{% url 'product' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}